<div class="pos-f-t">
  <nav class="navbar navbar-light d-flex justify-content-between">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon color-white"></span>
    </button>
    <a class="navbar-brand text-center" href="/">INFOGLOBO<span class="color-light-green">:</span></a>
  </nav>
</div>
